<div class="m-5">
  <h3 class="text-center">Inscrivez vous sur la liste d'attente de notre fantastique espace de coworking</h3>
  <%= simple_form_for @request do |f|  %>
    <%= f.input :email %>
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :biography %>
    <div class="text-center">
      <%= f.submit "GO", class: "btn btn-primary w-25" %>
    </div>
  <% end %>
</div>
